.article {
    display:flex;
    /* justify-content: center; */
    padding-bottom: 2rem;
    width:100%;
    padding-right:10rem;
    padding-left:2rem;
}

.articlelink{
    width:70%;
    padding-left:2rem;
}
